@font-face {
    font-family: "Roboto Condensed";
    src: url("https://db.onlinewebfonts.com/t/8f7b8dc753ec34b0c7c3d748a835c38c.eot");
    src: url("https://db.onlinewebfonts.com/t/8f7b8dc753ec34b0c7c3d748a835c38c.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/8f7b8dc753ec34b0c7c3d748a835c38c.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/8f7b8dc753ec34b0c7c3d748a835c38c.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/8f7b8dc753ec34b0c7c3d748a835c38c.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/8f7b8dc753ec34b0c7c3d748a835c38c.svg#Roboto Condensed")format("svg");
}
*{
  margin: 0;
  padding: 0;

}
.App{
  width: 100%;
  color: rgb(111, 109, 109);
}
body{
  font-family: 'Roboto Condensed' !important;
}
.TopHead{
  text-transform: uppercase;
padding: 0.5%;
border: rgb(5, 217, 5) solid 1px;
cursor: pointer;
}
.topHead{
  display: flex;
  padding: 10px;

}
.DropContainer .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  border: rgba(215, 213, 213, 0.308) solid 1px;
max-height: 10vh;
margin-top: 10px;
max-width: 120%;
width: 100%;

}
.timePlace{
  display: flex;
gap: 1%;
width: 90%;
max-width: 500px;
height: 100%;
}
.plusminus svg{
  font-size: 16px;

}
.IdAndPlace{
  display: flex;
  margin-top: 0.7%;
  width: 80%;
  justify-content: flex-start;
  flex-direction: column;
 
}

.StartTime{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
position: relative;


}

.Timer{
  font-size: 11px;
  background-color: rgb(255, 251, 0);
  color: black;

  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.115);
  position: absolute;
bottom: 65%;
width: 100%;
height: 30%;
}
.Live{
   font-size: 11px;
  background-color: rgb(255, 0, 0);
  color: black;

  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.115);
  position: absolute;
bottom: 65%;
width: 100%;
height: 30%;
}
.table-container {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px 0;
  padding: 0; 

}
.css-jhd7ab-MuiTable-root{
  width: 0%;
}
.table{
  border-collapse: collapse;
  border-spacing:0;
width: 0% !important;

}
.svgI{
  color: gray !important;
}
.notCombo{
  
 color: rgba(5, 8, 5, 0.808) !important;
 border-radius: 10% !important;
 font-size: 19px !important;
 border-color: rgba(6, 231, 6, 0.637) !important;
   font-family: 'Roboto Condensed' !important;
text-align: center !important;
height: 5px !important;

min-height: 30px !important;
}
.override{
  background-color: #02ad1c !important;
}
.notCombo-color{
background-color: rgba(255, 255, 0, 0.574) !important;
}
.whiteColor{
  color: white !important;
}
.isCombo{
min-width: 40px !important;
border-radius: 10% !important;
min-height: 30px !important;
font-size: 17px !important;
height: 5px !important;

}
.css-177gid-MuiTableCell-root{
  text-align: center;
}
.TableHead th {
  border: none; 
  font-size: 14px !important; 
  line-height: 1.2; 
  height: 50px;
   margin: 0 0 0 0 !important;
   padding: 5px 1px !important;
color: gray !important;
text-transform: uppercase !important;
   display: table-cell;


}
.Tablerow{
  width: 10px;
}
.tableBody svg{
width: 15px;
 color: rgb(0, 202, 37);
 gap: 1px;
}
.tableBody{
      display: table-row-group;
      vertical-align: middle;
    
}
.tableBody td:nth-child(2),td:nth-child(3),td:nth-child(4),td:nth-child(5),td:nth-child(7) {
  padding: 1px 3px; /* Minimal padding for body cells */
  border-bottom: rgba(172, 231, 182, 0.308) 1px solid; 
  line-height: 1;
 margin: 0 0 0 0 !important;
font-size: 15px !important;
  padding-top: 10px !important;
}
.tableBody td:nth-child(6) {
  padding: 1px 0px; /* Minimal padding for body cells */
  border-bottom: rgba(172, 231, 182, 0.308) 1px solid; 
  line-height: 1;
 margin: 0 0 0 0 !important;
  padding-top: 10px !important;
}
.bank{
  padding: 0 !important;
  padding-top: 9px !important;
}
.rating .Rating{
  font-size: 17px !important;
  margin: 0 !important;
padding: 0 !important;
}
.tableContent{
  display: flex;
  align-items: center;
 
  
}

.container2{
  display: flex;

}
.buttonsTable{
  font-size: 12px !important;
}
.miniContainer{
  margin-top: 3%;
}
.miniContainer .button{
  margin-top: 10px !important;
  margin-left: -20% !important;
  border: none;
  background-color: #fb827f;
  color: white;
}
.waysShow{
  display: grid;
  grid-template-columns: repeat(2,auto);
align-items: center;


}
.Need button{
  background-color: #fb827f !important;
  border: none !important;
  color: white !important;
  min-height: 40px !important;
 text-align: start !important;
 border-radius: 0 !important;
 position: relative;
}
.Need svg{
  font-size: 25px !important;
  color: white !important;
  text-align: center !important;

}
.WaysContainer{
  background-color: #02ad1c;
 cursor: pointer;
position: relative;
z-index: 1;
transition:background-color 0.5s;
}
.Need button::after{
  content: '';
position: absolute;
width: 100%;
height: 100%;
/* display: none; */
top: 0px;
left: 0px;
z-index: 1;

transition:all 0.5s;

}
.waysbut button{
  margin-top: -30px !important;
  margin-left: -30px !important;
}
.Need button:hover::after{
  display: flex;
   box-shadow:inset 0 0 2px 3px rgba(17, 13, 13, 0.385);

}
.WaysContainer::after{
  content: '';
position: absolute;
width: 0%;
height: 0%;
display: none;
top: 0px;
left: 0px;
z-index: -1;
  background-color: #02ad1c;
background-color: transparent;
transition:all 0.5s;

} 
.WaysContainer:hover::after{
  display: flex;
   box-shadow:inset 0 0 7px 4px rgba(17, 13, 13, 0.385);
background-color: #05a149;
width: 100%;
height: 100%;
}

.WaysContainer p{
  text-align: center;
  color: rgba(255, 255, 255, 0.864);
}


.WaysContainer p:nth-child(2),p:nth-child(3){
  font-size: 10px;

}
.buttonContaiener{
  position: relative;
}
.buttonContaiener .lock{
  position: absolute;
  left: 80%;
  bottom: 50%;
  color: rgb(120, 120, 1);
}
.f{
  padding-right: 2rem !important ;
  padding-left: 10rem !important ;
}
.F{
  background-color: rgb(255, 94, 0);
color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  font-size: 15px;
  align-items: center;
  justify-content: center;
}
.HeadToHeadName{
  padding-left: 3rem !important;
}
.HeadtoHeadContainer{
  display: flex;

}
.headtoheadbuttons{
  display: flex;
  margin-top: 20%;
}
.lock{
  color: black !important;
}
.button{
  transition: all 0.3s !important;
}
.button:hover{
  background-color: #02ad1c !important;
  color: black !important;
  border: none !important;
}
.headtoheadbuttons .button{
  margin: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  padding: 0;
}
.miniContainer{
width: fit-content;
width: 38%;
display: flex;
position: relative;

}
.miniContainer .buttonContaiener{
position: absolute;
top: 100%;
left: 4%;
}
.borderLine{
  content: '';
  background-color: white;
  width: 95%;
  height: 2px;
  margin-left: 10px;
}
.tableBody td:nth-child(1){
  padding-right: 8rem !important ;
  font-size: 17px !important;
  color: gray !important;
text-transform: capitalize !important;
padding: 5px !important;
}
.headtohead{
  border-radius: 0 !important;
  width: 8rem !important;
  min-width: 5rem !important;
}