@font-face {
    font-family: "Roboto Condensed";
    src: url("https://db.onlinewebfonts.com/t/8f7b8dc753ec34b0c7c3d748a835c38c.eot");
    src: url("https://db.onlinewebfonts.com/t/8f7b8dc753ec34b0c7c3d748a835c38c.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/8f7b8dc753ec34b0c7c3d748a835c38c.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/8f7b8dc753ec34b0c7c3d748a835c38c.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/8f7b8dc753ec34b0c7c3d748a835c38c.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/8f7b8dc753ec34b0c7c3d748a835c38c.svg#Roboto Condensed")format("svg");
}
*{
  margin: 0;
  padding: 0;
font-family: 'Roboto Condensed';

}
.App{
  width: 100%;
  color: rgb(145, 144, 144);
}

body{
  font-family: 'Roboto Condensed' !important;

}
.TopHead{
  text-transform: uppercase;
padding: 0.5%;
border: rgba(5, 166, 5, 0.604) solid 0.5px;
cursor: pointer;
  min-width: 4rem !important;
  text-align: center;
  font-size: 13px;
}
.topHead{
  display: flex;
  padding: 10px;
}
.DropContainer {
  margin-top: -10px;
font-family: Roboto !important;
  
  text-transform: uppercase;
}
.DropContainer p{
  font-size: 17px;
  color: rgb(121, 121, 121);
font-weight: 100 !important;
}
.DropContainer .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  border: rgba(215, 213, 213, 0.308) solid 1px;
max-height: 10vh;
margin-top: 10px;
max-width: 120%;
width: 100%;

}
.timePlace{
  display: flex;
gap: 1%;
width: 90%;
max-width: 500px;
height: 100%;
}
.plusminus svg{
  font-size: 16px;

}
.IdAndPlace{
  display: flex;
  margin-top: 0.7%;
  width: 80%;
  justify-content: flex-start;
  flex-direction: column;
 
}
.butto .button{
min-width: 5rem !important;
width: 5rem !important;
border-radius: 0 !important;
}
.StartTime{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
position: relative;


}

.Timer{
  font-size: 11px;
  background-color: rgb(255, 251, 0);
  color: black;

  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.115);
  position: absolute;
bottom: 65%;
width: 100%;
height: 30%;
}
.Live{
   font-size: 11px;
  background-color: rgb(255, 0, 0);
  color: black;

  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.115);
  position: absolute;
bottom: 65%;
width: 100%;
height: 30%;
}

.css-jhd7ab-MuiTable-root{
  width: 0%;
}

.nameText{
  font-size: 16px !important;
}
.svgI{
  color: gray !important;
}
.svgI:hover{
  fill: #02ad1c;
}

.override{
  background-color: #02ad1c !important;
}

.whiteColor{
  color: white !important;
}

.css-177gid-MuiTableCell-root{
  text-align: center;
}


.headCon svg{
width: 10px;
 color: rgb(0, 202, 37);

}

.buttonContaiener{
  padding-left: 5px !important;
}
.buttonContaiener button p{
  text-align: center !important;
}
.bank{
  padding: 0px !important;
  padding-top: 10px !important;
}
.rating .Rating{
  font-size: 17px !important;
  margin: 0 !important;
padding:5px !important;
}



.container2{
  display: flex;

}

.miniContainer{
  margin-top: 3%;
}
.miniContainer .button{
  margin-left: -4% !important;
  border: none;
  background-color: #fb827f;
  color: white;
  min-width: 100px !important;

}
.waysShow{
  display: grid;
  grid-template-columns: repeat(2,auto);
align-items: center;


}
.Need button{
  background-color: #fb827f !important;
  min-width: 100px !important;
  border: none !important;
  color: white !important;
  min-height: 40px !important;
 text-align: start !important;
 border-radius: 0 !important;
 position: relative;
}
.Need button p{
  color: white !important;

}
.Need svg{
  font-size: 25px !important;
  color: white !important;
  text-align: center !important;

}
.WaysContainer{
  background-color: #02ad1c;
 cursor: pointer;
position: relative;
max-height: 65px;
z-index: 1;

transition:background-color 0.5s;
}
.Need button::after{
  content: '';
position: absolute;
width: 100%;
height: 100%;
/* display: none; */
top: 0px;
left: 0px;
z-index: 1;

transition:all 0.5s;

}
.waysbut button{

  margin-left: -5px !important;
}
.Need button:hover::after{
  display: flex;
   box-shadow:inset 0 0 2px 3px rgba(17, 13, 13, 0.385);

}
.Message p{
  color: black !important;
}
.WaysContainer::after{
  content: '';
position: absolute;
width: 0%;
height: 0%;
display: none;
top: 0px;
left: 0px;
z-index: -1;
  background-color: #02ad1c;
background-color: transparent;
transition:all 0.5s;

} 
.WaysContainer:hover::after{
  display: flex;
   box-shadow:inset 0 0 7px 4px rgba(17, 13, 13, 0.385);
background-color: #05a149;
width: 100%;
height: 100%;
}

.WaysContainer p{
  text-align: center;
  color: rgba(255, 255, 255, 0.864);
}


.WaysContainer p:nth-child(2),p:nth-child(3){
  font-size: 10px;

}
.buttonContaiener{
  position: relative;
}
.buttonContaiener .lock{
  position: absolute;
  left: 70%;
  bottom: 50%;
  color: rgb(120, 120, 1);
}
.f{
  padding-right: 2rem !important ;
  padding-left: 13rem !important ;
}
.F{
  background-color: rgb(255, 94, 0);
color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  font-size: 13px;
  align-items: center;
  justify-content: center;
}
.HeadToHeadName{
  padding-left: 3rem !important;
}
.HeadtoHeadContainer{
  display: flex;

}

.headtohead{

  padding-left: 5rem !important;
  padding-right: 5rem !important;
}
.headtoheadbuttons{
  display: flex;
}
.lock{
  color: black !important;
}
.button{
  transition: all 0.3s !important;
}
.button:hover{
  background-color: #02ad1c !important;
  color: black !important;
  border: none !important;
}
.headtoheadbuttons .button{
  margin: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  padding: 0;
}
.miniContainer{
width: fit-content;
width: 38%;
display: flex;
position: relative !important;

}
.miniContainer .buttonContaiener{
position: absolute;
margin-top: 2%;
}
.borderLine{
  content: '';
  background-color: white;
  width: 95%;
  height: 2px;
  margin-left: 10px;
}

.headtohead{
  border-radius: 0 !important;
  width: 8rem !important;
  min-width: 5rem !important;
}
.vs{
  font-size: 20px !important;
}
.notCombo{
  max-width: 20px;
}