*{
  margin:0;
  padding: 0;
}
body{
  width: 100%;
  height:100%;

}
.App{
  width: 100%;
  height: 100%;
}
.parent-container{
  width: 74%;
  height: 38vw;display: flex;
  flex-direction: column;
  position: absolute;
  top:15%;
  margin-left: 5px;
  overflow: hidden;
  color: white;
}
.timecontainer,.Nextdraw,.Repeat{
  display: flex;

}
.timecontainer{
  align-items: center;
  justify-content: center;
  width: fit-content;
}
.Nextdraw{
  background-color: red;
  padding: 5px 3px;
  gap: 10px;
  text-transform: uppercase;
  font-size: 15px;
  color: white;
  font-weight: 600;
}
.Nextdraw p:nth-child(2){
  color: yellow;
}
.Repeat{
  background-color: rgb(1, 184, 1);

  padding: 4.8px 3px;
  gap: 10px;
  text-transform: uppercase;
  font-size: 15px;
  color: white;
  font-weight: 600;
}
.Repeat select{
  border-radius: 20%;
}
.container{
  background-color: rgb(28, 64, 28);
  width:100%;
  height: 100%;
  margin-top: 0.5%;
       font-size: 20px;
       font-family: Arial;
       font-weight: 800;
     
}
.first_MiniContainer{
 display: flex;
 align-items: start;
margin-bottom: -13px;
}
.big_container{
  display: flex;
font-size: 15px;
  margin-top: 1.5%;
  margin-left: 3.5%;
  border: white solid 1px;
 

}
.zero{
padding: 17px 19px;
display: flex;
align-items: center;
}
.numbers {
       display: flex; 

}
.first{
    display: flex;
}


.numbers-row{
  width: 100%;
  height: 100%;
}
.numbers-row p{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  font-weight: 300;
}

.numbers p:nth-child(1),
.numbers p:nth-child(2) {
    border-bottom: 2px solid rgb(255, 255, 255);
}
.small_container{
  border: rgba(188, 188, 188, 0.489) solid 1px;
  margin-left: 5px;
margin-top: 1.5%;
width: 8%;

}
.small_container .small_mini_container{
display: flex;
justify-content: center;
width: 100%;
height: 33.8%;
}
.small_mini_container p{
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 17px;
  position: fixed;
  margin-top: 13px;
  cursor: pointer;
  text-transform: lowercase;
}
.small_container .small_mini_container:nth-child(1),
.small_container .small_mini_container:nth-child(2){
 border-bottom: 2px solid rgba(255, 255, 255, 0.177) ;
}
.secmini_container,.thrmini_container,.forthmini_container{
  display: flex;
  justify-content: center;
  width: 100%;
text-transform: capitalize;
height: 10%;
  margin-bottom: 10px;
}
.fifthmini_container{
  text-transform: uppercase;
  margin-left: 1%;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.childmini{
  display: flex;
  margin-left: -48px;
  width: 81%;

  border: 1px solid rgba(255, 255, 255, 0.204);

}

.childmini p{
  width: 100%;
  text-align: center;
  padding: 10px;
font-size: 24px !important;
font-weight: 100 !important;
}
.childmini3 p {
font-size: 12px;
font-weight: 800;
  padding: 15px 8px;
  font-family: Arial;
  font-size: 14px !important;
}

.childmini p:nth-child(1),
.childmini p:nth-child(2),
.childmini2 p:nth-child(3),
.childmini2 p:nth-child(4),
.childmini2 p:nth-child(5),
.childmini3 p:nth-child(3),
.childmini3 p:nth-child(4),
.childmini3 p:nth-child(5){
  border-right: 2px solid rgba(255, 255, 255, 0.197);
}
.min{
     content: '';
            position: absolute;
            top: 92%;
            left: 6.8%;
            right: 0;
            width: 5px;
            height: 10px; /* Adjust the height of the shadow */
            box-shadow:   -100px 0 12px 40px rgb(2, 79, 37);
            z-index: 300;
}
.mini_numbers::after{
   content: '';
            position: absolute;
            top: 92%;
            left: 110%;
            right: 0;
            z-index: 400;
            width: 5px;
            height: 10px; /* Adjust the height of the shadow */
            box-shadow:   -100px 0 12px 40px rgb(0, 70, 31);
}
.mini_numbers{
  display: flex;
  scrollbar-width: none;
  scroll-behavior: smooth;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
   box-shadow: 
        -10px 0 30px -100px rgb(45, 102, 45), /* Left shadow */
        10px 0 2rem -5px rgb(42, 95, 42);
        white-space: nowrap;

        
}
.mini_numbers span{
  border: 1px white solid;

  padding: 15px;
  text-align: center;
  display: flex;

  align-items: center;
  justify-content: center;
  font-size: 24px !important;
z-index: 300;
cursor: pointer;
}
.secmini_container p{
  font-size: 24px !important;
}
/*colors*/
.orange{
  background-color: #ff8f07;
}
.black{
  background-color: #000000;
}
.green{
  background-color: #087122;
}
.blue{
  background-color: #004cfd;
}
.rose{
  background-color: #fa46d6;
}
.lightgreen{
  background-color: #15f1be;
}
.yellow{
  background-color: #ffff00;
  color: gray;
}
.white{
  background-color: rgb(255, 255, 255);
  color: gray;
}
.Red{
  background-color: #ff0000;
}

/*colors*/
.icons{
display: flex;
position: absolute;
bottom: 8%;
width: fit-content;
justify-content: space-between;
z-index: 400;
}
.icons svg{
  cursor: pointer;
  position: relative;
  margin-left: -10px;
}
.icons svg:nth-child(1){
   margin-right:10px ;
  font-size: 20px;
  position: absolute;
left:0rem;
z-index: 400;
}
.icons svg:nth-child(2){
  margin-right:10px ;
  font-size: 20px;
  position: absolute;
left:73rem;
z-index: 400;
}
.redhover{
       position: relative;
 
}

        .redhover::after {
            content: '';
            top: 0;
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(1, 153, 29, 0.535); /* shadow color with opacity */
            opacity: 0;
            z-index: 10;
 
        }

        .redhover:hover::after {
            opacity: 1;
            
        }
        .blackhover:hover{
background-color: rgba(1, 153, 29, 0.535);

        }
        
.first_twel{
cursor: pointer;
}
.greenhover{
  position: relative;
}
.greenhover::before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: #08f9449c;
}
.circleIcon{
   
  position: absolute;
  top: 10%;
}
.hovergreen{
background-color: rgba(1, 153, 29, 0.535);

        }
.circleIcon svg{
 color: rgb(1, 159, 1);
  border:dashed white 3px;
  border-radius: 50%;
  font-size: 20px;
  position:relative;
}

.childmini svg{
  margin-right: 5rem;
}
.greenClick{
  background-color: rgb(2, 115, 53);

}
.small_mini_container svg{
  margin-left: -20%;
  margin-top: 150%;
}
.svg_container{
position: absolute;
z-index: 100;
display: flex;
flex-direction: row;
justify-content: space-between;
gap: 15px;
transition: all 0.5s;
animation: svg 0.2s forwards;
}

@keyframes svg {
  0%{
    transform: scale(0);
  }
  
  100%{
    transform: scale(1);
  }
  
}
.firstrow_circle,.thirdrow_circle{
 display: flex;
 flex-direction: column;
 justify-content: space-between;


}
.secondrow_circle{
display: flex;
flex-direction: column;
justify-content: space-between;


}
.firstrow_circle svg{
 margin: 2px;
}


.svg_container svg{
  font-size: 25px;
  position: relative;

}


