.table-container {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px 0;
  padding: 0; 

}
.table{
  border-collapse: collapse;
  border-spacing:0;
width: 0% !important;

}
.notCombo{
  
 color: rgba(5, 8, 5, 0.808) !important;
 border-radius: 10% !important;
 font-size: 19px !important;
 border-color: rgba(6, 231, 6, 0.637) !important;
   font-family: 'Roboto Condensed' !important;
text-align: center !important;
height: 5px !important;
max-width: 40px;
min-height: 30px !important;
}
.notCombo-color{
background-color: rgba(255, 255, 0, 0.574) !important;
}
.isCombo{
min-width: 38px !important;
border-radius: 10% !important;
min-height: 26px !important;
font-size: 14px !important;
height: 3px !important;


}
.TableHead th {
  border: none; 
  font-size: 10px !important; 
  line-height: 1.2; 
  height: 50px;
   margin: 0 0 0 0 !important;
   padding: 2px 1px !important;
color: rgb(87, 87, 87) !important;
text-transform: uppercase !important;



}
.TableHead th:nth-child(7){
   border-left: #02ad1c25 0.5px solid !important;
   padding-left: 10px !important;

}
.Tablerow{
  width: 10px;
}
.tableBody svg{
width: 12px;
 color: rgb(0, 202, 37);
 gap: 1px;
}
.tableBody{
      display: table-row-group;
      vertical-align: middle;
    
}
.tableBody td:nth-child(2),td:nth-child(3),td:nth-child(4),td:nth-child(5),td:nth-child(7) {
  padding: 0.3px 0px; /* Minimal padding for body cells */
  border-bottom: rgba(172, 231, 182, 0.308) 1px solid; 
  line-height: 1;
 margin: 0 0 0 0 !important;
font-size: 13px !important;
  padding-top: 10px !important;
}
.tableBody td:nth-child(6) {
  padding: 0.3px 5px; /* Minimal padding for body cells */
  border-bottom: rgba(172, 231, 182, 0.308) 1px solid; 
  line-height: 1;
 margin: 0 0 0 0 !important;
  padding-top: 10px !important;
 
}

.tableBody td:nth-child(7){
   border-left: #02ad1c25 0.5px solid !important;


}

.tableBody td:nth-child(1){

  font-size: 10px !important;
  color: gray !important;
text-transform: capitalize !important;
padding: 2px !important;
}