.Mui-selected{
  background-color: #1CA54F !important;
  border: none !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.MuiTabs-indicator{
  display: none !important;
}