.Mui-selected{
  background-color: #1CA54F !important;
  border: none !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  min-height: 36px !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

.MuiButtonBase-root{
  min-height: 36px !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

.MuiTabs-indicator{
  display: none !important;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
  padding: 0px 16px 0px 6px !important;
  height: 30px !important;
}

.balls{
  transition: all 0.1s;
}
.containerBetslip{
  box-shadow: 1px 5px 13px 5px rgba(177, 176, 176, 0.271);
}
.balls:hover{
  background-color: #a6c99f !important;
  transform: scale(1.1);
}
.clearAdd:hover{
box-shadow: inset 1px 1px 3px 3px rgba(0, 0, 0, 0.091);
}

.head-tail{
  transition: background-color 0.3s;
}

.head-tail:hover .head-tail-sub{
  background-color: #008000;
}
.header-container{
  box-shadow: rgba(216, 215, 215, 0.77) 1px 1px 10px 6px;
  border: white 1px solid;
}
.addtobetButton{
  box-shadow: 1px 1px 1px 3px rgba(207, 207, 207, 0.557) ;
}
.addtobetButton:hover{
    box-shadow:inset 1px 1px 5px 5px rgba(7, 7, 7, 0.117);
}

