@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Roboto, sans-serif !important;
  line-height: 1.5;
  font-weight: 400;
}

.speech {
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  background: #696969;

  padding: 20px;
  width: 80%;
}

.speech::after {
  display: block;
  width: 0;
  content: "";
  border: 15px solid transparent;
}

.speech.left::after {
  border-right-color: #696969;
  border-left: 0;
}

.speech {
  position: relative;
  margin: 0px;
}

.speech::after {
  position: absolute;
}

.speech.left::after {
  left: -15px;
  top: calc(50% - 15px);
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: green transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: green;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows in number input (for Firefox) */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Remove border when active */
input[type="number"]:focus {
  border: none;
  outline: none;
}

.my-cancel-btn {
  background-color: #F0AD4E;
}